<script>
  //export data
  export let town = "Chicago";
  export let scale = 1;
</script>

<!-- creating the buttons -->
<div class="row">
  <div class="columnleft">
    <label>
      <input type="radio" name="town" value="Baltimore" bind:group={town} /> Baltimore
    </label>
    <br />
    <label>
      <input type="radio" name="town" value="Chicago" bind:group={town} /> Chicago
    </label>
    <br />
    <label>
      <input type="radio" name="town" value="Los Angeles" bind:group={town} /> Los
      Angeles
    </label>
  </div>
  <div class="columnright">
    <label>
      <input type="radio" name="scale" bind:group={scale} value={1} /> Across all
      building types
    </label>
    <label>
      <input type="radio" name="scale" bind:group={scale} value={0} /> Within building
      types
    </label>
  </div>
</div>

<style>
  .row {
    margin-top: 1%;
    height: 80px;
    position: relative;
  }
  .columnleft {
    float: left;
    width: 50%;
    text-align: center;
  }
  .columnright {
    float: right;
    width: 50%;
    text-align: center;
  }
</style>
