<script>
  // import and export information
  import { scaleLinear } from "d3-scale";
  export let data = [];
  export let y_domain;
  // scaling
  const yScale = scaleLinear().domain(y_domain).range([0, 100]);
  const xScale = scaleLinear().domain([0, 168]).range([0, 168]);
  // creation of path function
  function path(d, type, total_idx) {
    let path = "M 0," + 100;
    d.forEach((value, idx) => {
      if (type == "gas") {
        path += " " + xScale(idx) + "," + (100 + yScale(value));
      } else {
        path += " " + xScale(idx) + "," + (100 - yScale(value));
      }
    });
    path += " " + xScale(total_idx) + "," + 100 + " 0," + 100;
    return path;
  }
</script>

<svg>
  <!-- visualise the path -->
  <line
    x1={0}
    y1={100}
    x2={xScale(data["electricity"].length)}
    y2={100}
    stroke="black"
  />
  <path
    d={path(data["gas"], "gas", data["gas"].length)}
    fill="#D66C16"
    fill-opacity="0.7"
    stroke="#D66C16"
    stroke-opacity="1"
  />
  <path
    d={path(data["electricity"], "elec", data["electricity"].length)}
    fill="#0B0B60"
    fill-opacity="0.7"
    stroke="#0B0B60"
    stroke-opacity="1"
  />
</svg>
