<script>
  import { scaleLinear, scaleRadial } from "d3-scale";
  import { extent } from "d3-array";
  import { radialArea } from "d3-shape";
  export let town;
  export let cy;
  export let cx;
  export let datapoints = [];
  // scales and map making
  datapoints = datapoints.filter((d) => d.city == town);
  const coolingScale = scaleRadial()
    .range([0, 50])
    .domain(extent(datapoints, (d) => d.cooling));
  const heatScale = scaleRadial()
    .range([0, 50])
    .domain(extent(datapoints, (d) => d.heating));
  const coolingMap = radialArea()
    .angle((d) => xScale(d.day_of_year))
    .innerRadius(0)
    .outerRadius((d) => coolingScale(d.cooling));
  const heatingMap = radialArea()
    .angle((d) => xScale(d.day_of_year))
    .innerRadius(0)
    .outerRadius((d) => heatScale(d.heating));
  let xScale = scaleLinear()
    .domain([1, 365])
    .range([0, 2 * Math.PI]);
</script>

<svg>
  <g transform="translate({cx},{cy})">
    <path
      d={coolingMap(datapoints)}
      fill="#0B0B60"
      fill-opacity="0.5"
      stroke="#0B0B60"
      stroke-opacity="1"
    />
    <path
      d={heatingMap(datapoints)}
      fill="#7D1201"
      fill-opacity="0.5"
      stroke="#7D1201"
      stroke-opacity="1"
    />
  </g>
</svg>
