<script>
  // import and export information
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";
  export let scale = 0;
  export let town = "Chicago";
  export let datapoints;
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 20, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  // creating variables
  let towninfo = {};
  let transformed_data = {};
  let pathWidth = innerHeight / 15;
  let pathLength = innerWidth - 100;
  let days = [
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
    22, 23, 24, 25, 26, 27, 28, 29, 30, 31
  ];
  //changing the data
  function townInfo(datapoints, town) {
    if (datapoints != null) {
      towninfo = datapoints.filter((d) => d.city == town);
    }
    let transformed_data = {};
    towninfo.forEach((d) => {
      if (!(d.buildingtype in transformed_data)) {
        transformed_data[d.buildingtype] = [];
      }
      transformed_data[d.buildingtype].push(d.total_heating_energy);
    });
    return transformed_data;
  }
  function normalInfo(datapoints, town) {
    if (datapoints != null) {
      towninfo = datapoints.filter((d) => d.city == town);
    }
    return towninfo;
  }
  $: transformed_data = townInfo(datapoints, town);
  $: towninfo = normalInfo(datapoints, town);
  // creating the path functions
  let Path_all = (d, yScale) => {
    let path =
      "M 0," + yScale(extent(towninfo.map((d) => d.total_heating_energy))[0]);
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + yScale(value);
    });
    path +=
      " " +
      xScale(744) +
      "," +
      yScale(extent(towninfo.map((d) => d.total_heating_energy))[0]);
    return path;
  };
  let Path_with_mir = (d) => {
    let yScale_with = scaleLinear()
      .domain(extent(d))
      .range([0, pathWidth / 2]);
    let path = "M 0," + yScale_with(extent(d)[0]);
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + yScale_with(value);
    });
    path += " " + xScale(744) + "," + yScale_with(extent(d)[0]);
    return path;
  };
  let Path_with = (d) => {
    let yScale_with = scaleLinear()
      .domain(extent(d))
      .range([pathWidth / 2, 0]);
    let path = "M 0," + yScale_with(extent(d)[0]);
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + yScale_with(value);
    });
    path += " " + xScale(744) + "," + yScale_with(extent(d)[0]);
    return path;
  };
  // creating scales
  $: xScale = scaleLinear().domain([0, 744]).range([0, pathLength]);
  $: yScale_all_mir = scaleLinear()
    .domain(extent(towninfo.map((d) => d.total_heating_energy)))
    .range([0, pathWidth / 2]);
  $: yScale_all = scaleLinear()
    .domain(extent(towninfo.map((d) => d.total_heating_energy)))
    .range([pathWidth / 2, 0]);
</script>

<svg {width} {height}>
  <g transform="translate({margin.left + 100}, 5)">
    <line x1={0} x2={0} y1={0} y2={height - 10} stroke="black" width="30%" />
    {#each Object.keys(transformed_data) as build_nr, build_idx}
      <g transform="translate(0,{build_idx * pathWidth})">
        <text x={-100} y={8} font-size="8">{build_nr}</text>
        <line
          x1={0}
          y1={pathWidth / 2}
          x2={-5}
          y2={pathWidth / 2}
          stroke="black"
        />
        {#if scale == 1}
          <path
            d={Path_all(transformed_data[build_nr], yScale_all)}
            fill="#171615"
            fill-opacity="1"
            stroke="#171615"
            stroke-opacity="1"
          />
          <g transform="translate(0,{pathWidth / 2})">
            <path
              d={Path_all(transformed_data[build_nr], yScale_all_mir)}
              fill="#171615"
              fill-opacity="1"
              stroke="#171615"
              stroke-opacity="1"
            />
          </g>
        {:else}
          <path
            d={Path_with(transformed_data[build_nr])}
            fill="#171615"
            fill-opacity="1"
            stroke="#171615"
            stroke-opacity="1"
          />
          <g transform="translate(0,{pathWidth / 2})">
            <path
              d={Path_with_mir(transformed_data[build_nr])}
              fill="#171615"
              fill-opacity="1"
              stroke="#171615"
              stroke-opacity="1"
            />
          </g>
        {/if}
      </g>
    {/each}
    <line
      x1={0}
      y1={innerHeight + 17}
      x2={innerWidth - 100}
      y2={innerHeight + 17}
      stroke="black"
    />
    {#each days as day, idx}
      <g
        transform="translate({(idx * (innerWidth - 100)) / 31},{innerHeight +
          17})"
      >
        <text x={12.5} y={5.5} font-size="5">{day}</text>
        <line x1={0} y1={2} x2={0} y2={-2} stroke="black" />
      </g>
    {/each}
    <line
      x1={(31 * (innerWidth - 100)) / 31}
      y1={innerHeight + 20}
      x2={(31 * (innerWidth - 100)) / 31}
      y2={innerHeight + 14}
      stroke="black"
    />
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
