<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { extent } from "d3-array";
  import Visualisation from "./_design_3_visualisation.svelte";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  // Load the data
  let datapoints = null;
  onMount(async () => {
    datapoints = await json("/data/hourly_electricity_vs_gas_december.json");
  });
  let maximum_electricity = {};
  let maximum_gas = {};
  let maximum_range = {};
  let transformed_data = {};

  // Change the data
  $: {
    if (!datapoints) {
      console.log("The data is loading, please wait.");
    } else {
      datapoints.forEach((d) => {
        if (!(d.week in transformed_data)) {
          transformed_data[d.week] = {};
          transformed_data[d.week]["gas"] = [];
          transformed_data[d.week]["electricity"] = [];
        }

        transformed_data[d.week]["gas"].push(d.total_gas);
        transformed_data[d.week]["electricity"].push(d.total_electrity);
      });
      maximum_gas = extent(datapoints.map((d) => d.total_gas));
      maximum_electricity = extent(datapoints.map((d) => d.total_electrity));
      maximum_range = [
        Math.min(maximum_electricity[0], maximum_gas[0]),
        Math.max(maximum_electricity[1], maximum_gas[1])
      ];
    }
  }
</script>

{#if !datapoints}
  <p>Please wait, data is loading!</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <!-- creating the tree -->
      <line
        x1={innerWidth / 2}
        y1={innerHeight - 75}
        x2={innerWidth / 2}
        y2={40}
        stroke="black"
        stroke-width="3"
      />
      <!-- creating the branches of the weeks -->
      <g
        transform="translate({innerWidth / 2 - 35},{innerHeight -
          300}) rotate(-20)"
      >
        <Visualisation
          data={transformed_data["48"]}
          y_domain={maximum_range}
        /></g
      >
      <g
        transform="translate({innerWidth / 2 + 35},{innerHeight -
          370}) scale(-1,1) rotate(-20)"
      >
        <Visualisation
          data={transformed_data["49"]}
          y_domain={maximum_range}
        /></g
      >
      <g
        transform="translate({innerWidth / 2 - 35},{innerHeight -
          440}) rotate(-20)"
      >
        <Visualisation
          data={transformed_data["50"]}
          y_domain={maximum_range}
        /></g
      >
      <g
        transform="translate({innerWidth / 2 + 35},{innerHeight -
          510}) scale(-1,1) rotate(-20)"
      >
        <Visualisation
          data={transformed_data["51"]}
          y_domain={maximum_range}
        /></g
      >
      <g
        transform="translate({innerWidth / 2 - 35},{innerHeight -
          600}) rotate(-20)"
      >
        <Visualisation
          data={transformed_data["52"]}
          y_domain={maximum_range}
        /></g
      >
      <!--  creating text -->
      <line
        x1={innerWidth / 2 + 68}
        x2={innerWidth / 2 + 78}
        y1={50}
        y2={50}
        stroke="black"
        stroke-width="1"
      />
      <text font-size="12" x={innerWidth / 2 + 82} y={53}> Week 5 </text>
      <line
        x1={innerWidth / 2 - 168}
        x2={innerWidth / 2 - 158}
        y1={107}
        y2={107}
        stroke="black"
        stroke-width="1"
      />
      <text font-size="12" x={innerWidth / 2 - 210} y={110}> Week 4 </text>
      <line
        x1={innerWidth / 2 + 156}
        x2={innerWidth / 2 + 166}
        y1={176}
        y2={176}
        stroke="black"
        stroke-width="1"
      />
      <text font-size="12" x={innerWidth / 2 + 175} y={177}> Week 3 </text>
      <line
        x1={innerWidth / 2 - 168}
        x2={innerWidth / 2 - 158}
        y1={247}
        y2={247}
        stroke="black"
        stroke-width="1"
      />
      <text font-size="12" x={innerWidth / 2 - 210} y={250}> Week 2 </text>
      <line
        x1={innerWidth / 2 + 158}
        x2={innerWidth / 2 + 168}
        y1={316}
        y2={316}
        stroke="black"
        stroke-width="1"
      />
      <text font-size="12" x={innerWidth / 2 + 175} y={317}> Week 1 </text>
      <line
        x1={innerWidth / 2}
        y1={75}
        x2={innerWidth / 2 + 9}
        y2={110}
        stroke="black"
        stroke-width="1"
      />
      <text font-size="10" x={innerWidth / 2 + 10} y={120}> 00:00 Monday </text>
      <line
        x1={innerWidth / 2 + 66}
        y1={50}
        x2={innerWidth / 2 + 76}
        y2={87}
        stroke="black"
        stroke-width="1"
      />
      <text font-size="10" x={innerWidth / 2 + 76} y={97}> 23:59 Sunday </text>
      <!-- creating the legend -->
      <rect
        x={innerWidth - 460}
        y={innerHeight - 30}
        width="10"
        height="10"
        rx="3"
        fill="#D66C16"
        fill-opacity="0.7"
        stroke="#D66C16"
        stroke-opacity="1"
      />
      <text font-size="13" x={innerWidth - 445} y={innerHeight - 22}>
        gas
      </text>
      <rect
        x={innerWidth - 460}
        y={innerHeight - 50}
        width="10"
        height="10"
        rx="3"
        fill="#0B0B60"
        fill-opacity="0.7"
        stroke="#0B0B60"
        stroke-opacity="1"
      />
      <text font-size="13" x={innerWidth - 445} y={innerHeight - 42}>
        electricity
      </text>
      <!-- creating the title of the city -->
      <text
        font-size="25"
        text-anchor="middle"
        x={innerWidth / 2}
        y={innerHeight - 40}
        font-style="italic"
        font-weight="bold"
      >
        Chicago
      </text>
      <text
        font-size="18"
        text-anchor="middle"
        x={innerWidth / 2}
        y={innerHeight - 15}
        font-style="italic"
      >
        December 2014
      </text>
    </g>
  </svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
