<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import Pathway from "./_design_1_visualisation.svelte";
  import Buttons from "./_design_1_button.svelte";
  let scale = 1;
  let town = "Chicago";
  // import data
  let datapoints = null;
  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json");
  });
</script>

<!--  plotting data  -->
{#if !datapoints}
  <p>Please wait, data is loading!</p>
{:else}
  <div>
    <Buttons bind:scale bind:town />
    <Pathway {datapoints} {scale} {town} />
  </div>
{/if}
