<!-- svelte-ignore a11y-missing-attribute -->
<dev>
  <body>
    <header>
      <h1> Section 1 </h1> 
      <h2> Section 2</h2> 
      <h3> Section 3</h3>
      <h4> Section 4 </h4>
    </header>   
  </body>

<!--  -->
</dev>