<style>
    p {
        color: steelblue;
        font-size: larger;
    }
    .really{
        color: greenyellow
    }
</style>
<p> I <span class="really">really</span> like data visualisation!</p>



