<script>
const student = { name: 'Anthony De Kimpe'}
const myList = ['PingPong', 'Clarinet','Basketball','music']    
</script>
<p>My name is {student.name} and these are some of my favourite things: {myList}  </p>