<script>
  // Properties
  export let data=[]
  const continents = ["all", "europe", "asia", "americas", "africa"];
  export let year = 1800
  export let cont = "all"

  function thisYr(){
    if (year >= 2014) {year = 1800}
    else (year++)
  }
   let loop;
   let paused = true;
   const makeProgress = () => {
     if (paused) {
       paused = false;
       loop = setInterval(thisYr,100)}
      else {
        paused = true;
        clearInterval(loop)
      }
   }

   const stop = () => {
     year = 1800;
     clearInterval(loop)
     paused = true;
   }
</script>
<div class="row">
  <div class='col-1'>
    <button class='btn btn-primary' on:click={makeProgress}>{paused ? 'Start': 'Stop'}</button>
    <button class='btn btn-primary' on:click={stop}>Reset</button>
  </div>
  <div class='col-2'>
    <label>Year: {year}
    <input type='range' min='1800' max='2014' bind:value={year} />
    </label>
  </div>
  <div class='col-3'>
    <select bind:value={cont}>
    {#each continents as ct}
    <option>{ct}</option>
    {/each}
    </select>
  </div>
</div>
<style>
  .row {width: 100%;
		    height: 90px;
		    position: relative;
	  	margin-top: 5%; }
  button {width: 60px;
          margin-bottom: 6px;
          padding: 0px;}
  .col-1 {float: left;
          width: 33%;}
  .col-2 {display:inline-block;
          width: 33%;}
  .col-3 {float: right;
          width: 33%;}
  select {padding: 9.5px 10px;}
</style>
