<script>
    let count = 0;
    
    function handleClick(event) {
        count += 1;
    }
    
    function resetClick(event) {
        count = 0;
    }
</script>

    

    <button on:click={handleClick} class="btn btn-primary">
        Clicked {count} times
    </button>
    
    <button on:click={resetClick} class="btn btn-secondary">
        Reset
    </button>    
    