<script>
  import {axisBottom} from 'd3-axis';
  import { scaleLog } from 'd3-scale';
  import {select} from 'd3-selection';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  // Scale
  const scale_x = scaleLog()
                  .domain([1,10])
                  .range([0,innerWidth]);
  // Axis
  const x_as = axisBottom(scale_x);
  function xAxis(x){x_as(select(x))};
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <circle cx={scale_x(value)} cy= 50 r=10 fill= orange/>
    {/each}
  </g>
  <g use:xAxis={"g"} transform = "translate({margin.top}, {innerHeight})">
  </g>
  <text font-siez="10" transform='translate({innerWidth/2}, {innerHeight+25})'> x label
   </text>
</svg>
