<script>
  import {scaleLinear, scaleOrdinal} from "d3-scale";
  import {schemeDark2} from "d3-scale-chromatic";
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  const amount = [0,1,2,3,4]
  const scale_x = scaleLinear()
                .domain([1,10])
                .range([0,innerWidth + margin.left]);
  const scale_y = scaleLinear()
                .domain([1,5])
                .range([0,innerHeight]);
    const scale_cat= scaleOrdinal()
                .domain(["cat1", "cat2", "cat3"])
                .range(schemeDark2);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each amount as index}
    <circle cx={scale_x(values[index].x)} cy={innerHeight/2-scale_y(values[index].y)} r=5 fill={scale_cat(values[index].category)}/>
    <text class=valueLabel x={scale_x(values[index].x)} y={innerHeight/2-scale_y(values[index].y)-10}>{(values[index].y)}</text>
    <line x1={scale_x(values[index].x)} y1={innerHeight} x2={scale_x(values[index].x)} y2={innerHeight/2-scale_y(values[index].y)+5} />
    {/each}
    <line x1={margin.left} y1={innerHeight} x2={innerWidth} y2={innerHeight}/>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  line{
    stroke: black;
    stroke-width: 1;
  }
</style>
