<script>
import {scaleLinear} from 'd3-scale';
import {axisLeft, axisBottom} from 'd3-axis';
import {select} from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  const amount = [0,1,2,3,4,5]
  //Scales
  const xScale = scaleLinear()
                .domain([-0.7, data.length])
                .range([0, innerWidth]);
  const yScale = scaleLinear()
                .domain([0,3])
                .range([innerHeight, 0]);
  //Axis
  const y_axis = axisLeft(yScale).ticks();
  const x_axis = axisBottom(xScale).ticks(data.length).tickFormat(function(d,i){return data[d]?.service});

let gxAxis, gyAxis;
$:{ 
  select(gxAxis).call(x_axis)
  select(gyAxis).call(y_axis)};
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <g tranform = 'rotate(-90)' font-size=10 font-family=sans-serif text-anchor=end>
      <text x=-100 y=-5> Viewers (Million)</text>
    </g>
    {#each data as item, index}
    <rect x='{xScale(index)}' y='{yScale(item.viewers)}' width={innerWidth/data.length-30} height='{height - yScale(item.viewers)- margin.top - margin.bottom}' fill=green></rect>
    {/each}
  </g>
  <g bind:this={gyAxis} transform = {`translate(${(innerWidth/data.length)},${margin.top})`}></g>
  <g bind:this={gxAxis} transform  = {`translate(${(innerWidth/data.length)},${height-margin.bottom})`}></g>
</svg>
